
<%= form_tag(submit_forgot_password_user_path) do %>

  <h2 class="title">Forgot Password</h2>

  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input <%= @error ? 'is-danger' : '' %>" type="text" name="email">
    </div>
    <% if @error %>
      <p class="help is-danger">This email is invalid</p>
    <% end %>
  </div>

  <input type=submit value="Submit" class="button is-primary">
  <%= link_to 'Back', login_path, class: 'button is-secondary' %>

<% end %>