

<div id="initiative_controls">
  <table id="newInitForm">
    <thead>
      <tr>
        <th id="name_col">Name</th>
        <th id="val_col">Initiative</th>
        <th id="button_col"></th>
      </tr>
    </thead>
    <tr>
      <td><input type="text" id="initiative_name_input" /></td>
      <td><input type="text" id="initiative_value_input" /></td>
      <td><input type="button" id="initiative_add_button" value="Add" /></td>
    </tr>
  </table>

  <ul id="initiative_list"></ul>

  <button id="resort_initiative">Sort</button>
  <button id="clear_initiative">Clear</button>
</div>
