
<div style="height: 100%; position: relative">
  <div data-initiative data-attributes="<%= { campaignId: @game.campaign_id, floating: true, alwaysOpen: true, startPosition: { x: 100, y: 75} }.to_json %>"></div>
</div>
