
<div id="game_board_container">
  <div id="init_box">
  </div>
</div>

<script type="text/javascript">
  const gameId = <%= @game.id %>;
  const initial_data = <%= raw(@initiative_json) %>;

  document.addEventListener('DOMContentLoaded', () => {
    const initiative = new InitiativeManager(document.getElementById("init_box"), gameId, true);
    initiative.update(initial_data.initiative, initial_data.initiative_names);
  });

</script>