
<%= render partial: 'camera' %>

<div id="game_board_container">
  <canvas id="game_board" ></canvas>
</div>

<script type="text/javascript">
  GAME_ID = <%= @game.id %>;
  CAMPAIGN_ID = <%= @game.campaign_id %>;

  document.addEventListener('DOMContentLoaded', function() {
    const gameBoard = new GameBoard(<%= @game.id %>, document.getElementById("game_board"));
    gameBoard.start();
  });

</script>