<% content_for :header do %>
  <%= javascript_include_tag "games" %>
<% end %>

<div style="float: left;">
  <label for="zoom_level">Zoom:</label>
  <input type="text" id="zoom_level" style="font-weight: bold; width: 50px;" />
  <div id="zoom_slider" style="height: 200px;"></div>
</div>
<div style="float: left;">
  <div id="game_board_container">
    <button id="tool_pointer">Pointer</button>
    <button id="tool_pen">Pen</button>
    <input id="tool_color" />
    <input type="text" id="tool_width" />
    <br />
    <canvas id="game_board" height="500" width="750"></canvas>
  </div>
</div>

<textarea id="debug" cols="30" rows="20"></textarea>

<script type="text/javascript">
  BOARD_DATA_URL = '<%= get_game_board_game_path(@game) %>'

</script>