@import "spacelab_variables";
@import "~bulma/sass/utilities/initial-variables.sass";
@import "~bulma/sass/utilities/functions.sass";

// Put color overrides here

@import "~bulma/sass/utilities/derived-variables.sass";

$secondary: $black-ter;
$secondary-invert: $white;

$addColors: (
        "secondary": ($secondary, $secondary-invert)
);

$colors: map-merge($colors, $addColors);

$modal-card-head-padding: 16px;

$panel-block-active-border-left-color: $primary;
$panel-block-active-color: $primary;
$panel-block-active-icon-color: $primary;



// TODO: remove everything below
//@import "spacelab_variables";

//$secondary: $gray-700;
//$font-size-base: 0.9rem;

//@import "~bootstrap/scss/functions";
//@import "~bootstrap/scss/variables";


//$white: '#FFF';
$gray-200: '#888';
//$primary: green;
$body-color: gray;