
@keyframes flash-animation {
  from { opacity: 0; }

  40% { opacity: 1; }
  55% { opacity: 0; }
  70% { opacity: 1; }
  85% { opacity: 0; }

  to { opacity: 1; }
}

#flashContainer {
  position: fixed;
  left: 20px;
  bottom: 10px;
  width: 20rem;
  z-index: 9999;

  .notification {
    animation: 2s 1 normal flash-animation;
  }
}
