// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body.game {
  height: 100vh;
}



#camera {
  display: none;

  #camera_display {
    border: 1px solid black;
    float: left;
    height: 350px;
    width: 450px;
  }

  #camera_controls {
    height: 85px;
    width: 150px;
    margin-left: 15px;
    float:left;
  }
}

.game-list {
  span.created {
    font-size: 80%;
    color: gray;
  }
}