
@import "variables";
@import "~bulma";
@import "spacelab_overrides";

html.noscroll {
  overflow: hidden;
}

.initiative-item {

  .button {
    @extend .is-primary;
  }

  &.initiative-item-delete {
    .button {
      @extend .is-danger;
      text-decoration: line-through;
    }
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}