
@import "variables";
@import "~bulma";
@import "~bulma-tooltip/src/sass/index";
@import "spacelab_overrides";
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "flash_messages";
@import "games";

html.noscroll {
  overflow: hidden;
}

.initiative-item {

  .button {
    @extend .is-primary;
  }

  &.initiative-item-delete {
    .button {
      @extend .is-danger;
      text-decoration: line-through;
    }
  }
}





h1, h2, h3 {
  small {
    font-size: 65%;
  }
}


div.thumbnail {
  width: 150px;
  height: 150px;
  overflow: hidden;

  img{
    max-width: none;
  }
}

.tooltip-inner {
  width: 150px;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

ul.game-list {

  line-height: 1.2;

  li {
    padding: .75rem;
    margin-bottom: 1rem;
  }

  .game-label {
    display: inline-block;
  }

  .name {
    font-size: 1.3rem;
  }

  .timestamp {
    font-size: 0.75rem;
    color: #bbbbbb;
  }

  .controls {
    padding-top: 5px;
    display: inline-block;
    float: right;
  }
}