var BOARD_DATA_URL = 'OVERRIDE THIS IN VIEW';
var BOARD_DRAWING_URL = 'OVERRIDE THIS IN VIEW';

var game_board = null;
var board_data = null;

// Disable mobile device scrolling
function stopScrolling( touchEvent ) { touchEvent.preventDefault(); }
document.addEventListener( 'touchmove' , stopScrolling , false );

$(document).ready(function () {

  setCanvasSize();

  $(window).resize(function() {
    setCanvasSize();
  });

  game_board = new Board($("#game_board")[0]);

  $("#zoom_level").change(function () {
    setSize($(this).val());
  });

  setupColorPicker("#tool_color_button", "#tool_color_menu");

  $("#tool_width").val(3);

  $("#zoom_slider").slider({
    orientation:"vertical",
    range:"min",
    min:0.1,
    max:2.0,
    step:0.1,
    value:1,
    slide:function (event, ui) {
      $("#zoom_level").val(ui.value).change();
    }
  });
  $("#zoom_level").val($("#zoom_slider").slider("value"));

  $("#tool_pointer").click(function () {
    game_board.setTool(new Pointer(game_board));
  });

  $("#tool_pen").click(function () {
    selectPenTool();
  });

  refreshBoard();
  draw_game();
});

window.requestAnimFrame = (function (callback) {
  return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame ||
          function (callback) {
            window.setTimeout(callback, 1000 / 60);
          };
})();

function setCanvasSize() {
  // Set game board size
  var portWidth = $(window).width();
  var portHeight = $(window).height();
  $("#game_board")[0].height = (portHeight - $("#game_header").height() - 20);
  $("#game_board")[0].width = (portWidth - $("#game_gutter").width() - 20);
}

function draw_game() {
  game_board.update();

  window.requestAnimFrame(function () {
    draw_game();
  });
};

function setSize(zoom) {
  game_board.setZoom(parseFloat(zoom));
}

function refreshBoard() {
  $.getJSON(BOARD_DATA_URL, function (data) {
    board_data = data;
    setSize($("#zoom_level").val());
    game_board.refresh(data);
    setTimeout(refreshBoard, 2000);
  });
}

function selectPenTool() {
  console.log($("#tool_color").val());
  game_board.setTool(new Pen(game_board, $("#tool_width").val(), $("#tool_color").val()));
}

function setupColorPicker(buttonId, menuId) {
  var colors = {Red: "#FF0000", Yellow: "#FFFF00", Green: "#01DF01", Blue: "#0000FF", Black: "#000000"};

  var jqMenu = $(menuId);
  jqMenu.empty();

  _.each(colors, function(value, key) {
    $("<button></button>")
            //.height(20)
            //.width(20)
            .css("background-color", value)
            .text(key)
            .click(function() {
              $("#tool_color").val(value);
              selectPenTool();
              jqMenu.dialog("close");
            })
            .appendTo(jqMenu);
  });


  jqMenu.dialog({
    autoOpen: false,
    modal: true,
    position: {my: "center top", at: "center bottom", of: buttonId},
    resizable: false,
    title: "Choose Color"
  });

  $(buttonId).click(function() {
    jqMenu.dialog("open");
  });
}