
<div class="row">
  <div class="col-xs-12">

    <div class="page-header">
      <h1>Help / About</h1>
    </div>

    <h3>Touch Controls</h3>

    <ul>
      <li>Use two fingers to pan (or one finger with Pointer tool)</li>
      <li>Pinch to zoom</li>
      <li>Double tap to ping (any tool)</li>
    </ul>

    <h3>Mouse Controls</h3>

    <ul>
      <li>Scroll wheel zooms</li>
      <li>Drag with right button to pan (or left button with Pointer tool)</li>
      <li>Double click to ping (any tool)</li>
    </ul>

    <h3>Keyboard Shortcuts</h3>

    <ul>
      <li><kbd>ctrl + z</kbd> Undo</li>
      <li><kbd>shift</kbd> Snaps drawing tools to cell intersections</li>
      <li><kbd>ctrl</kbd> Snaps drawing tools to cell centers</li>
      <li><kbd>ctrl + shift</kbd> Snaps drawing tools to cell quadrants</li>
      <li><kbd>s</kbd> Hold to save current viewport; release to snap back OR press to 'remember' viewport; press again to revert</li>
      <li><kbd>f</kbd> Toggle fullscreen</li>
    </ul>

    <h3>Editing Templates</h3>

    <p>
      Once a template is created, it can be manipulated with the pointer tool.
      Click a template to select it.  Click and drag to move a selected template.
      Press delete key (or long tap with touch) to remove a template
    </p>

    <h3>Fog</h3>

    <p>
      The owner of a campaign is considered to be the GM and fog is rendered as a grey overlay on the map.
      For all other players the fog completely hides the drawing layer. Note that only the drawing layer is
      obscured by fog.  The background, pings, and templates will still be visible.
    </p>

    <h3>About</h3>
    <p>
      Dungeon is designed as a multi-user web based dry erase board.  Distances and templates are calculated using 
      Pathfinder rules.  Technology used includes
    </p>

    <ul>
      <li>Ruby on Rails</li>
      <li>HTML5 WebSockets</li>
      <li>HTML5 Canvas</li>
      <li>Faye</li>
      <li>Redis</li>
      <li>MySQL</li>
      <li>Bootstrap</li>
      <li>jQuery</li>
      <li>Hammer.js</li>
    </ul>

    <p>
      The source code is released under the MIT license and is available on <a href="https://github.com/DanElbert/dungeon"><span class="fa fa-github"></span> Github</a>
    </p>

  </div>
</div>