/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery-ui/slider
 *= require jquery-ui/autocomplete
 *= require jquery-ui/dialog
 *= require base
 *= require layout
 *= require skeleton
 *= require image-picker
 *= require_self
 *= require_tree .
 */

.ui-autocomplete {
    z-index: 1001;
}

.ui-resizable-handle {
    background-color:#555;
    opacity: 0.5;
}

.ui-dialog .ui-dialog-titlebar {
    padding: .1em 1em;
}

input[type="number"] {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #fff;
}