/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require image-picker
 *= require jquery-ui/dialog
 *= require jquery-ui/sortable
 */

@import "bootstrap-sprockets";
@import "flatly_variables";
@import "bootstrap";
@import "flatly_bootswatch";
@import "jquery.ui.overrides";
@import "games";
@import "tools";
@import "initiative";
@import "flash_messages";

div.thumbnail {
  width: 150px;
  height: 150px;
  overflow: hidden;

  img{
    max-width: none;
  }
}

.modal.modeless {
  overflow: hidden;
  top: 15px;
  right: 15px;
  left: auto;
  bottom: auto;

  .modal-header {
    cursor: move;
  }

  .modal-dialog {
    margin: 0;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}


//input[type="number"] {
//    border: 1px solid #ccc;
//    padding: 6px 4px;
//    outline: none;
//    -moz-border-radius: 2px;
//    -webkit-border-radius: 2px;
//    border-radius: 2px;
//    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
//    color: #777;
//    margin: 0;
//    width: 210px;
//    max-width: 100%;
//    display: block;
//    margin-bottom: 20px;
//    background: #fff;
//}