/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */


@import "font-awesome-sprockets";
@import "font-awesome";
@import "games";
@import "flash_messages";


h1, h2, h3 {
  small {
    font-size: 65%;
  }
}


div.thumbnail {
  width: 150px;
  height: 150px;
  overflow: hidden;

  img{
    max-width: none;
  }
}

.tooltip-inner {
  width: 150px;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

ul.game-list {

  line-height: 1.2;

  li {
    padding: .75rem;
    margin-bottom: 1rem;
  }

  .game-label {
    display: inline-block;
  }

  .name {
    font-size: 1.3rem;
  }

  .timestamp {
    font-size: 0.75rem;
    color: #bbbbbb;
  }

  .controls {
    padding-top: 5px;
    display: inline-block;
    float: right;
  }
}

//input[type="number"] {
//    border: 1px solid #ccc;
//    padding: 6px 4px;
//    outline: none;
//    -moz-border-radius: 2px;
//    -webkit-border-radius: 2px;
//    border-radius: 2px;
//    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
//    color: #777;
//    margin: 0;
//    width: 210px;
//    max-width: 100%;
//    display: block;
//    margin-bottom: 20px;
//    background: #fff;
//}