#flashRow {
    position: relative;
}

#flashContainer {
    width: 100%;
    position: absolute;
    top: 0;
}

.flash {
    text-align: center;
    width: 30em;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.error {
    background-color: #fff6ff;
    border: 3px solid #fda8a8;
}

.warning {
    background-color: #ffffdd;
    border: 3px solid #ffdd00;
}

.notice {
    background-color: #D8F6CE;
    border: 3px solid #3ADF00;
}