// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body.game {
  height: 100vh;
}

#game_board_container {
  position: relative;
  height: 100%;
  overflow: hidden;

  canvas, div.background {
    position: absolute;
    z-index: 1;
  }

  canvas.background, div.background {
    z-index: 0;
  }
}

#game_board {
}

#main_menu {
  position: fixed;
  right: 7px;
  bottom: 15px;
  text-align: right;
  z-index: 3;

  button {
    opacity: 0.7;
    display: block;
    font-size: 0.9em;
    width: 65px;
    margin: 4px 0;
    right: 0;
    margin-left: auto;
    margin-right: 0;
  }

  button:hover {
    opacity: 1.0;
    width: 75px;
  }
}

#camera {
  display: none;

  #camera_display {
    border: 1px solid black;
    float: left;
    height: 350px;
    width: 450px;
  }

  #camera_controls {
    height: 85px;
    width: 150px;
    margin-left: 15px;
    float:left;
  }
}

.game-list {
  span.created {
    font-size: 80%;
    color: gray;
  }
}