// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#game_board_container {
  position: relative;
}

#game_board {
}

.tool_dialog {

  .ui-dialog-titlebar-close {
    display: none;
  }

  .ui-dialog-content {
    padding: 3px;
    overflow: hidden;
  }

  .tool_button {
    margin: 2px;
    width: 50px;
  }

  .tool_button.zoom {
    width: 100px;

    span.glyphicon { width: 50px; margin-right: 0; }
    span { width: 50px; margin-left: 0; }
  }

  fieldset {
    border-bottom: 1px solid black;
    padding-bottom: 4px;
  }

  legend {
    margin-bottom: 0;
    font-size: .8em;
  }
}

#main_menu {
  position: absolute;
  right: 0;
  bottom: 15px;
  text-align: right;

  button {
    opacity: 0.7;
    display: block;
    font-size: 0.7em;
    width: 50px;
    margin: 4px 0;
    right: 0;
    margin-left: auto;
    margin-right: 0;
  }

  button:hover {
    opacity: 1.0;
    width: 75px;
  }
}

.initiative_dialog {
  button, input[type=button] {
    font-size: 80%;
  }
}

#initiative_window {
  font-size: 80%;
  background-color: #F9F9FF;
}

#open_initiative_button {
  position: absolute;
  top: 10px;
  right: 0px;
}

#initiative_controls {
  width: 16em;
  float: left;

  table {
    margin: 0px;

    th{
      padding: 3px;
    }
  }
}

#initiative_list {
  padding: 4px;
}

.initiativeItem {
  list-style-type: none;
  position: relative;
  height: 25px;
  padding: 2px 0px 0px 7px;
  margin: 3px;
}

.initiativeItem.removing span {
  color: red;
  text-decoration: line-through;
}

.initiativeItem span, .initiativeItem input {
  padding: 3px;
  position: absolute;
}

.initiativeItem .name {
  font-weight: bold;
}

.initiativeItem .value {
  right: 0px;
}

.initiativeItem .editValue {
  right: 0px;
  width: 30px;
}

#newInitForm input {
  width: 80%;
  margin-bottom: 0px;
  display: block;
}

#newInitForm {
  width: 100%;
}

#newInitForm td {
  padding: 2px;
}

#newInitForm #name_col {
  width: 50%;
}

#newInitForm #val_col {
  width: 25%;
}

#newInitForm #button_col {
  width: 25%;
}

#initiative_display_toggle {
}

#initiative_controls.view_mode {
  #newInitForm {
    display: none;
  }

  button {
    display: none;
  }

  .initiativeItem {
    height: 15px;
    padding: 5px;

    span {
      padding: 0;
    }
  }
}

#camera {
  display: none;

  #camera_display {
    border: 1px solid black;
    float: left;
    height: 350px;
    width: 450px;
  }

  #camera_controls {
    height: 85px;
    width: 150px;
    margin-left: 15px;
    float:left;
  }
}