// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#game_container {
  background: asset-url('pf-gradient-bk.png') #f9f9ff repeat-x;
}

#game_board_container {
  float: left;
  position: relative;
  z-index: 100;
}

#game_board {
}

#game_header {
  height: 35px;
  padding: 10px;
  overflow: hidden;
}

#game_gutter {
  float: left;
  width: 100px;
}

#zoom_slider {
  width: 200px;
  margin-top: 7px;
}

.menuItemList {
  background-color: #f9f9ff;
  position: absolute;
  width: auto;
  border-radius:6px;
  border:1px solid #404040;
  top: -1px;
  left: -1px;
  z-index: 101;
}

.toolMenu {
  position: relative;
  width: 500%;
  padding: 1px;
}

%toolButtonStyle {
  padding: 5px;
  margin: 8px;

  background-color: #ededed;
  color: #555555;

  font: bold 13px arial;
  text-decoration: none;
  text-shadow: 1px 1px 0px #ffffff;
  text-align: center;
  vertical-align: middle;

  box-shadow: inset 0px 1px 0px 0px #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
}

%toolButtonStyle:hover {
  position:relative;
  top:1px;
}

.menuButton {
  @extend %toolButtonStyle;
  width: 55px;
  height: 55px;
}

.menuItemButton {
  @extend %toolButtonStyle;
  width: 55px;
  height: 55px;
  float: left;
}

.menuItemButton.selected {
  border: 1px solid black;
}

.tool {
  @extend %toolButtonStyle;
  width: 55px;
  height: 55px;
}

$initiative_width: 400px;
$toggle_width: 75px;

#initiative_panel {
  z-index: 200;
  overflow: hidden;
  border: 2px solid black;
  background-color: white;
  position: absolute;
  top: 20px;
  right: 0px;
}

#initiative_panel.closed {
  height: 30px;
  width: $toggle_width;
}

#initiative_panel.open {
  right: 0px;
  width: $initiative_width;
  height: 500px;
}

#initiative_toggle {
  width: $toggle_width;
  height: 100%;
  float: left;
}

#initiative_controls {
  width: 300px;
  float: left;
}

#initiative_list {
  padding: 4px;
}

#initiative_list .initiativeItem {
  list-style-type: none;
  position: relative;
  height: 25px;
  margin: 2px;
}

.initiativeItem.removing span {
  color: red;
  text-decoration: line-through;
}

.initiativeItem span {
  padding: 3px;
  position: absolute;
}

.initiativeItem .name {
  font-weight: bold;
}

.initiativeItem .value {
  right: 0px;
}

#newInitForm input {
  width: 100%;
}

#newInitForm {
  width: 100%;
}

#newInitForm td {
  padding: 4px;
}

#newInitForm #name_col {
  width: 50%;
}

#newInitForm #val_col {
  width: 30%;
}

#newInitForm #button_col {
  width: 20%;
}