// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#game_container {
  background: image-url('pf-gradient-bk.png') #f9f9ff repeat-x;
}

#game_board_container {
  float: left;
  position: relative;
  z-index: 100;
}

#game_board {
}

#game_header {
  height: 50px;
  padding: 10px;
  overflow: hidden;
}

#game_gutter {
  float: left;
  width: 100px;
}

#zoom_slider {
  width: 200px;
  margin-top: 7px;
}

.menuItemList {
  background-color: #f9f9ff;
  position: absolute;
  width: auto;
  border-radius:6px;
  border:1px solid #404040;
  top: -1px;
  left: -1px;
  z-index: 101;
}

.toolMenu {
  position: relative;
  width: 500%;
  padding: 1px;
}

%toolButtonStyle {
  padding: 5px;
  margin: 8px;

  background-color: #ededed;
  color: #777777;

  font: 15px arial bold;
  text-decoration: none;
  text-shadow: 1px 1px 0px #ffffff;

  box-shadow: inset 0px 1px 0px 0px #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
}

.menuButton {
  @extend %toolButtonStyle;
  width: 55px;
  height: 55px;
}

.menuItemButton {
  @extend %toolButtonStyle;
  width: 55px;
  height: 55px;
  display: block;
  float: left;
}

button.tool {
  @extend %toolButtonStyle;
  width: 65px;
  height: 65px;
}

button.tool:hover {

}

button.tool:active {
  position:relative;
  top:1px;
}

button.tool.enabled {

}