
div.initiative {
  background-color: white;
}

div.initiative_editor {
  table {
    margin: 0;

    th{
      padding: 3px;
    }

    td {
      padding: 2px;
    }
  }

  input {
    width: 80%;
    margin-bottom: 0;
    display: block;
  }

  .name_col {
    width: 50%;
  }

  .val_col {
    width: 25%;
  }

  .button_col {
    width: 25%;
  }
}

div.initiative.view_mode {
  .initiative_editor {
    display: none;
  }

  button.edit_only {
    display: none;
  }

  ul .btn-group {
    @extend .btn-group-sm;
  }
}

div.initiative ul {
  padding: 0;
  margin: 5px 0;
}

.initiative_item {

  list-style: none;

  .name {
    width: 14em;
    overflow: hidden;
  }

  .value {
    width: 4em;
    overflow: hidden;
  }

  .editValue {
    @extend .form-control;
    width: 4em;
  }

  &.removing .btn {
    @extend .btn-danger;
    text-decoration: line-through;
  }
}

