body {
  background: asset-url('pf-gradient-bk.png') #f9f9ff repeat-x;
}

#headerBar {
}

#headerSeparator {
  border-bottom: 2px solid black;
  margin-bottom: 15px;
}

#title {
  margin-bottom: -35px;
  z-index: 10;
}

#navContainer {
}

#navContainer a {
  float: right;
  text-decoration: none;
  padding: 40px 20px 5px;
  color: black;
}

#navContainer a:hover {
  color: blue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

table
{
  margin: 15px;
  border-collapse: collapse;
  text-align: left;
}
table th
{
  font-weight: bold;
  padding: 10px 8px;
  border-bottom: 2px solid black;
}
table td
{
  border-bottom: 1px solid #ccc;
  padding: 6px 8px;
  vertical-align: middle;
}
table tr:hover td
{
  color: #009;
}

#notice {
  color: green;
}

.field_with_errors > label {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #fff;
  h4 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    margin: -7px;
    margin-bottom: 4px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    margin-left: 20px;
    list-style: square;
  }
}
