
div#tool_ribbon {
  border: 1px solid black;
  height: 70px;
  margin-left: 90px;
  position: absolute;

  .tool {
    float: left;
  }

  .ribbon_panel {
    float: left;
  }

  .tab_contents {
    float: left;
  }

  ul.tabs {

    margin: 0;
    float: left;

    li {
      float: left;
      margin: 0 2px 0 0;
      padding: 4px 8px;
      color: white;
      font-weight: bold;
      background-color: #888888;
      cursor: pointer;
    }

    li.selected {
      border-bottom: none;
      color: black;

      background-color: transparent;
    }
  }
}