
#tool_menu {
  position: absolute;
  top: 32px;
  left: 32px;
}

#tool_menu > button {
  position: relative;
  width: 30px;
  height: 30px;
  display: block;
  background-color: $brand-primary;
  border: none;
  color: $btn-default-color;

  &:hover {
    background-color: lighten($brand-primary, 15%);
  }

  &.selected {
    color: $brand-primary;
    background-color: $btn-default-color;
  }
}

#tool_menu button {
  outline: none;
}

#tool_menu .tool_menu_popup {
  position: absolute;
  background: white;
  white-space: pre;
  text-align: left;
  color: $text-color;

  .glyphicon {
    padding-right: 10px;
  }
}

.tool_menu_popup > div, .tool_menu_popup > button {
  display: block;
  background: transparent;
  border: solid 2px white;
  padding: 0 4px;
  margin: 4px;

  &:hover {
    border: solid 2px $gray-lighter;
  }
}