
$toolpanel_shadow: 7px 3px 3px rgba(1, 1, 1, 0.5);

#tool_menu {
  position: absolute;
  top: 32px;
  left: 32px;
  z-index: 200;
  box-shadow: $toolpanel_shadow;
}

#tool_menu > button {
  width: 40px;
  height: 40px;
  display: block;
  background-color: $primary;
  border: none;
  color: $white;
  font-size: 22px;

  &:hover {
    background-color: lighten($primary, 15%);
  }

  &.selected {
    color: $primary;
    background-color: $white;
  }

  &.active {
    color: $white;
    background-color: $red;
  }
}

#tool_menu button {
  outline: none;
}

#tool_menu .tool_menu_popup_wrapper {
  position: absolute;
  background: none;
  padding: 7px;
}

#tool_menu .tool_menu_popup {
  background: white;
  white-space: pre;
  text-align: left;
  color: $body-color;
  width: 180px;

  button {
    color: $body-color;
  }

  .glyph {
    padding-right: 10px;
    width: 1.5em;
  }
}

.tool_menu_popup > .popup_item {
  display: block;
  background: transparent;
  border: solid 2px white;
  padding: 0 4px;
  margin: 4px;
  text-align: left;
  width: 175px;
  font-size: 20px;

  &:hover {
    border: solid 2px $gray-200;
  }
}

#tool_option_menu {
  position: absolute;
  display: flex;
  top: 32px;
  left: 150px;
  z-index: 100;
  padding: 4px;
  background: white;
  border: 1px solid black;
  box-shadow: $toolpanel_shadow;

  .option_menu {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    margin-left: 5px;
    border-left: 1px solid grey;

    &:first-child {
      padding-left: 0;
      margin-left: 0;
      border-left: none;
    }

    .img {
      height: 50px;
      width: 50px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .option_button {
    width: 40px;
    height: 25px;
  }

  .option_button, .option_item_button {
    background: white;
  }

  .option_item_list {
    position: absolute;
    top: 35px;
  }

  .option_item_button {
    width: 40px;
    height: 25px;
    border: solid 3px white;
    margin-top: 3px;

    &.selected {
      border: solid 3px black;
    }

    &:first-child {
      border-top: none;
      margin-top: 0;
    }
  }
}