<h2 class="title">Campaign Images</h2>

<table class="table is-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @images.each do |image| %>
      <tr>
        <td><%= link_to image.name, image.url %></td>
        <td><%= image.status %></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_campaign_image_path, class: 'button is-primary' %>
<%= link_to 'Back to Campaign', campaign_path(@campaign), class: 'button is-primary' %>