<div id="flashContainer"></div>

<% unless flash.empty? %>

  <script type="text/javascript">
    $(document).ready(function() {
      <%=
        calls = []
        flash.each do |key, value|
          if value.respond_to? 'each'
            value.each { |sub_value| calls << "flashMessage('#{j(key.to_s)}', '#{j(sub_value.to_s)}');" }
          else
            calls << "flashMessage('#{j(key.to_s)}', '#{j(value.to_s)}');"
          end
        end

        raw(calls.join('\n'))
      %>
    });
  </script>

<% end %>